.vscode
.DS_Store
/.ipynb_checkpoints/*
config/
virtualenvs/
*catalog*.json
*config*.json
*state*.json
target*.json
*.sublime-*
.python-version
singer-check-tap*
*.pyc
*.egg-info
dist/
__pycache__/
venv/
build/
tap_target_commands.sh
tap_helpscout/.vscode/settings.json
